## 11.1日期和时间数据的类型和工具

In [1]:
from datetime import datetime

In [2]:
now=datetime.now()

In [3]:
now

datetime.datetime(2019, 5, 26, 15, 6, 51, 906104)

In [4]:
now.year,now.month,now.day

(2019, 5, 26)

In [5]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start=datetime(2011,1,7)
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

## 11.1.1字符串与datetime互相转换

In [11]:
stamp=datetime(2011,1,3)

In [12]:
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [14]:
value='2011-01-03'

In [15]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
from dateutil.parser import parse

In [17]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

## 11.2时间序列基础

In [18]:
dates=[datetime(2011,1,2),datetime(2011,1,5),
      datetime(2011,1,7),datetime(2011,1,8),
      datetime(2011,1,10),datetime(2011,1,12)]

In [19]:
import pandas as pd
import numpy as np

In [20]:
ts=pd.Series(np.random.randn(6),index=dates)

In [21]:
ts

2011-01-02   -1.101212
2011-01-05    0.261608
2011-01-07   -0.043614
2011-01-08    0.470527
2011-01-10    1.131361
2011-01-12   -0.109772
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts.index.dtype

dtype('<M8[ns]')

## 11.2.1索引、选择、子集

In [24]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [25]:
longer_ts

2000-01-01    0.549383
2000-01-02   -0.629558
2000-01-03   -0.372690
2000-01-04    0.953745
2000-01-05   -1.583672
2000-01-06   -1.279027
2000-01-07    0.071937
2000-01-08   -0.511981
2000-01-09    1.363291
2000-01-10   -0.220017
2000-01-11   -0.016102
2000-01-12    1.636668
2000-01-13   -0.392675
2000-01-14   -0.686586
2000-01-15   -0.165430
2000-01-16   -0.579485
2000-01-17   -1.230427
2000-01-18   -0.116677
2000-01-19   -0.330629
2000-01-20   -1.511677
2000-01-21    0.028383
2000-01-22   -1.517377
2000-01-23   -0.298590
2000-01-24    0.054447
2000-01-25   -0.379096
2000-01-26    0.316105
2000-01-27   -0.649613
2000-01-28    0.113212
2000-01-29    0.504550
2000-01-30    1.670482
                ...
2002-08-28    0.273712
2002-08-29   -0.246088
2002-08-30   -0.108571
2002-08-31   -1.777045
2002-09-01   -0.123570
2002-09-02    0.685740
2002-09-03    0.573672
2002-09-04    1.131684
2002-09-05   -0.854079
2002-09-06    0.252533
2002-09-07   -0.299906
2002-09-08   -0.824902
2002-09-09    0.669728
2002-09-10    0.169384
2002-09-11   -0.851404
2002-09-12   -0.573907
2002-09-13   -1.313872
2002-09-14    0.737851
2002-09-15   -0.819979
2002-09-16    0.765520
2002-09-17   -0.222420
2002-09-18    0.027081
2002-09-19   -1.804076
2002-09-20    0.193633
2002-09-21   -0.023359
2002-09-22   -0.120138
2002-09-23    0.533305
2002-09-24   -1.175131
2002-09-25    0.086866
2002-09-26    0.267147
Freq: D, Length: 1000, dtype: float64

In [26]:
longer_ts['2002-01']

2002-01-01   -1.190472
2002-01-02    0.183262
2002-01-03   -0.675707
2002-01-04   -0.972261
2002-01-05   -2.211039
2002-01-06    1.286038
2002-01-07   -0.246509
2002-01-08   -1.342421
2002-01-09   -1.237776
2002-01-10   -1.047519
2002-01-11    0.442050
2002-01-12    1.844519
2002-01-13    0.850319
2002-01-14    1.180546
2002-01-15   -0.812741
2002-01-16   -2.001019
2002-01-17    1.180559
2002-01-18    0.190927
2002-01-19    0.422397
2002-01-20    0.427829
2002-01-21    1.432291
2002-01-22    0.707612
2002-01-23    0.713248
2002-01-24    1.348132
2002-01-25    0.221310
2002-01-26   -0.404550
2002-01-27    0.483949
2002-01-28   -0.556278
2002-01-29    0.069549
2002-01-30   -0.540388
2002-01-31    0.165016
Freq: D, dtype: float64

## 含有重复索引的时间序列

In [27]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                       '1/2/2000','1/3/2000'])

In [28]:
dup_ts=pd.Series(np.arange(5),index=dates)

In [29]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [30]:
dup_ts.index.is_unique

False

In [31]:
grouped=dup_ts.groupby(level=0)

In [32]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [33]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [34]:
grouped.first()

2000-01-01    0
2000-01-02    1
2000-01-03    4
dtype: int32

In [35]:
grouped.last()

2000-01-01    0
2000-01-02    3
2000-01-03    4
dtype: int32

In [36]:
grouped.sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int32

##  日期范围频率和移位

In [37]:
ts

2011-01-02   -1.101212
2011-01-05    0.261608
2011-01-07   -0.043614
2011-01-08    0.470527
2011-01-10    1.131361
2011-01-12   -0.109772
dtype: float64

In [38]:
resampler=ts.resample('D')

In [39]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [40]:
from pandas.tseries.offsets import Hour,Minute

In [41]:
hour=Hour()

In [42]:
hour

In [43]:
four_hour=Hour(4)

In [44]:
four_hour

In [45]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [46]:
Hour(2)+Minute(30)

## 使用偏置进行移位日期

In [47]:
from pandas.tseries.offsets import Day,MonthEnd

In [48]:
now=datetime(2011,11,17)

In [49]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [50]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [51]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

## 时区处理

In [52]:
import pytz

In [53]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [54]:
rng=pd.date_range('2012-03-09 9:30',periods=6,freq='D')

In [55]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [56]:
ts

2012-03-09 09:30:00    0.253545
2012-03-10 09:30:00    0.464524
2012-03-11 09:30:00    0.808613
2012-03-12 09:30:00   -0.068441
2012-03-13 09:30:00   -0.008644
2012-03-14 09:30:00    0.961671
Freq: D, dtype: float64

In [57]:
print(ts.index.tz)

None

In [58]:
pd.date_range('2012-03-09 9:30',periods=6,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [59]:
ts_utc=ts.tz_localize('UTC')

In [60]:
ts_utc

2012-03-09 09:30:00+00:00    0.253545
2012-03-10 09:30:00+00:00    0.464524
2012-03-11 09:30:00+00:00    0.808613
2012-03-12 09:30:00+00:00   -0.068441
2012-03-13 09:30:00+00:00   -0.008644
2012-03-14 09:30:00+00:00    0.961671
Freq: D, dtype: float64

## 时区感知时间对象的操作

In [61]:
stamp=pd.Timestamp('2011-03-12 04:00')

In [62]:
stamp_utc=stamp.tz_localize('utc')

## 不同时区间的操作

In [63]:
rng=pd.date_range('3/7/2012 9:30',periods=10,freq='B')

In [64]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [65]:
ts

2012-03-07 09:30:00    0.468440
2012-03-08 09:30:00   -3.125106
2012-03-09 09:30:00   -0.277475
2012-03-12 09:30:00    0.411745
2012-03-13 09:30:00    1.727077
2012-03-14 09:30:00   -0.837196
2012-03-15 09:30:00    1.942726
2012-03-16 09:30:00    0.719455
2012-03-19 09:30:00   -0.455004
2012-03-20 09:30:00    0.360723
Freq: B, dtype: float64

In [66]:
ts1=ts[:7].tz_localize('Europe/London')

In [67]:
ts2=ts1[2:].tz_convert('Europe/Moscow')

In [68]:
result=ts1+ts2

In [69]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## 区间频率转换

In [70]:
p=pd.Period('2007',freq='A-DEC')

In [72]:
p

Period('2007', 'A-DEC')

In [73]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [74]:
p=pd.Period('Aug-2007','M')

In [75]:
p.asfreq('A-Jun')

Period('2008', 'A-JUN')

In [76]:
rng=pd.period_range('2006','2009',freq='A-DEC')

In [77]:
ts=pd.Series(np.random.randn((len(rng))),index=rng)

In [78]:
ts

2006    1.272215
2007    0.599918
2008   -2.015888
2009    0.324445
Freq: A-DEC, dtype: float64

In [79]:
ts.asfreq('M',how='start')

2006-01    1.272215
2007-01    0.599918
2008-01   -2.015888
2009-01    0.324445
Freq: M, dtype: float64

In [81]:
ts.asfreq('B',how='end')

2006-12-29    1.272215
2007-12-31    0.599918
2008-12-31   -2.015888
2009-12-31    0.324445
Freq: B, dtype: float64

## 季度区间频率

In [82]:
p=pd.Period('2012Q4',freq='Q-JAN')

In [83]:
p

Period('2012Q4', 'Q-JAN')

In [84]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [85]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [86]:
p4pm=(p.asfreq('B','e')-1).asfreq('T','s')+16*60

In [87]:
p4pm

Period('2012-01-30 16:00', 'T')

In [88]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [89]:
rng=pd.period_range('2011Q3','2012Q4',freq='Q-JAN')

In [90]:
ts=pd.Series(np.arange(len(rng)),index=rng)

In [91]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

## 重新采样和频率转换

In [92]:
rng=pd.date_range('2000-01-01',periods=100,freq='D')

In [93]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [94]:
ts

2000-01-01   -0.053128
2000-01-02    0.159123
2000-01-03   -0.278487
2000-01-04    1.446767
2000-01-05   -0.459084
2000-01-06    0.587350
2000-01-07   -3.532104
2000-01-08   -0.486753
2000-01-09    0.229055
2000-01-10   -0.648298
2000-01-11    0.478685
2000-01-12    0.782098
2000-01-13    1.497400
2000-01-14    1.162868
2000-01-15   -1.971101
2000-01-16    1.212413
2000-01-17    0.317687
2000-01-18   -1.534054
2000-01-19    0.694468
2000-01-20    0.661895
2000-01-21    0.109652
2000-01-22    0.316333
2000-01-23    0.341088
2000-01-24    0.787623
2000-01-25    0.474382
2000-01-26    1.027016
2000-01-27    1.020899
2000-01-28    0.829667
2000-01-29    2.817293
2000-01-30   -1.471784
                ...
2000-03-11   -1.274565
2000-03-12   -0.369192
2000-03-13    0.608380
2000-03-14   -1.105211
2000-03-15   -2.607626
2000-03-16   -0.536048
2000-03-17   -0.948896
2000-03-18    1.186318
2000-03-19    0.806492
2000-03-20    0.847682
2000-03-21   -1.777328
2000-03-22   -0.167339
2000-03-23   -1.005266
2000-03-24    1.315439
2000-03-25    0.954456
2000-03-26    1.989375
2000-03-27   -1.751068
2000-03-28   -1.366219
2000-03-29    1.073637
2000-03-30   -0.209023
2000-03-31   -1.153630
2000-04-01   -0.014180
2000-04-02   -1.007349
2000-04-03    0.953396
2000-04-04    0.837643
2000-04-05    0.874881
2000-04-06    1.137242
2000-04-07   -0.574483
2000-04-08   -0.163097
2000-04-09    0.498039
Freq: D, Length: 100, dtype: float64

In [97]:
ts.resample('M').mean()

2000-01-31    0.192822
2000-02-29   -0.119379
2000-03-31   -0.311523
2000-04-30    0.282455
Freq: M, dtype: float64

In [98]:
ts.resample('M',kind='period').mean()

2000-01    0.192822
2000-02   -0.119379
2000-03   -0.311523
2000-04    0.282455
Freq: M, dtype: float64